#frame {
	/* Imagen central */
	position: relative;
}

#background {
/* 	Se ajusta al contenedor */
	width: 100%
}

#welcomeBox {
	/* Hace que flote sobre la imagen central definida en frame */
	position: absolute;
	bottom:4%;
	right: 10%;
}