.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
	a.navbar-brand(href="#") Hegemon
	ul.nav.navbar-nav
		li.active
			a(href="#") Home
		li
			a(href="#") Profile
		li
			a(href="#") Charsheets
		li
			a(href="#") Campaigns
	
	ul.nav.navbar-nav.navbar-right
		li.dropdown
				a.dropdown-toggle(href="", data-toggle="dropdown") Tools <b class="caret"></b>
				ul.dropdown-menu
					li
						a(href="#") Link
					li
						a(href="#") Link

	.col-xs-4.col-sm-4.col-md-4.col-lg-4.navbar-right
		form.navbar-form.input-group(role="search")
			input.form-control(type="text", placeholder="Search")
			.span.input-group-btn
				button.btn.btn-default(type="button") Go!
